<%- include ./layouts/header-script.ejs %>	
<%- include ./layouts/header.ejs %>

<style>
	html {
		font-size: 15px;
	} 
	  </style>
<H2 align ="center"> This tool helps to manage the grade efficiently. It has following features: </H2>



	  <li align ="center">Professor can add, delete, and edit student information to the system.</li>
	  <li align ="center">Professor can add, delete, and edit student's assignment information to the system.</li>
	  <li align ="center">Professor can view total marks and letter grade for each course for each student.</li> <br> </br>
	  <p align ="center">This tool is developed by Srijana Paudel Chalise, as a part of CSCI 6600 Database Management Final Project.</p>
























<%- include ./layouts/footer.ejs %> 